name: Lint
on:
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  codeql:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: go
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
  golangci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        cache: false
        go-version-file: go.mod
    - name: Lint
      uses: wandera/golangci-lint-action@v3
      with:
        version: v1.55.1
        args: "--out-${NO_FUTURE}format colored-line-number"
