name: Lint
on:
  pull_request:
jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: wandera/golangci-lint-action@v3
        with:
          version: v1.50.1

